.F1 {
  font-size: 60rpx;
}

.F2 {
  font-size: 42rpx;
}

.F2_5 {
  font-size: 38rpx;
}

.F3 {
  font-size: 34rpx;
}

.F4 {
  font-size: 32rpx;
}

.F5 {
  font-size: 30rpx;
}

.F6 {
  font-size: 28rpx;
}

.F7 {
  font-size: 26rpx;
}

.F8 {
  font-size: 24rpx;
}

.F9 {
  font-size: 22rpx;
}

.F10 {
  font-size: 20rpx;
}